:root {
    --main-color:#FFF;
    --second-color:#D4C17F;
    --background-color:#242B33;
    --footer-background-color:#2D343C;
    --text-form-color:#E7E7E7;
}

/* common styles */

/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--main-color);
}

footer {
    background-color: var(--footer-background-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    color: var(--second-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    /* white-space: nowrap;
    clip-path: inset(100%); */
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.input {
    width: 255px;
    height: 50px;
    padding: 0;
    border: 0;
    background: var(--main-color);
    opacity: 0.2;
}
.button {
    min-width: 255px;
    min-height: 50px;
    cursor: pointer;
    padding: 0;
    /* border: 0; */
    font-weight: 700;
    font-size: 16px;
    line-height: 1.69;
    text-align: center;
    color: var(--main-color);
    background-color: var(--second-color);
}
.button:hover,
.button:focus,
.button:active {
    /* border: 5px; */
    border-color: var(--main-color);
}
.container {
    width: 1130px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
    /* background-color: antiquewhite; */
}

/* header */
.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 44px;
}
.span-logo {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
}

.logo {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.12em;
    color: var(--main-color);
}

.site-item {
    display: flex;
}
.site-list:not(:last-child) {
    margin-right: 38px;
}
.site-link {
    padding-top: 20px;
    padding-bottom: 20px;
}
.link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
}

.link:hover,
.link:focus,
.link:active {
    color: var(--second-color);
}

/* hero */
.hero-section {
    /* height: 840px; */
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg, #242B33 11.98%,
     rgba(45, 52, 60, 0.38) 51.04%,
      #242B33 92.19%), url(../images/city.jpg);
    background-size: cover;
    background-position: center;
}
.hero {
    padding-top: 210px;
}

.hero-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.33;
    text-align: center;
    color: var(--second-color);
}

.hero-mouse {
    display: block;
    width: 38px;
    height: 40px;
    margin-top: 94px;
    margin-right: auto;
    margin-bottom: 188px;
    margin-left: auto;

}
.hero-item {
    display: flex;
    justify-content: center;
}
.hero-link {
    display: flex;
    align-items: center;
}
.icon-map,
.icon-tel {
    display: inline-block;
    width: 20px;
    height: 21px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 14px;
}

.hero-link:not(:last-child) {
    margin-right: 98px;
}

.hero-address {
    display: flex;
    font-size: 18px;
    line-height: 21px;
    fill: var(--main-color);
}
.hero-address:hover,
.hero-address:focus {
    color: var(--second-color);
    fill: var(--second-color);
}

/* advantage */

.advantage {
    padding-bottom: 120px;
}
.advantage-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantage-item {
    display: flex;
    padding-top: 120px;
    margin: 0 135px;

}
/* .advantage-list {
    overflow: hidden;
} */
.advantage-list:not(:last-child) {
    margin-right: 70px;
}

.icon-bench,
.icon-building,
.icon-fountain,
.icon-bicycle {
    display: block;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 53px;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

.advantage-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
}

.gallery-title {
    margin-bottom: 100px;
}
.gallery-item {
    display: flex;
    flex-wrap: wrap;
}
.gallery-list {
    margin-bottom: 30px;
}
.gallery-list:nth-child(2n + 1) {
    margin-right: 30px;
}
.gallery-list:nth-last-child(-n + 2) {
    margin-bottom: 0;
}
.gallery-img {
    display: block;
    z-index: 2;
    background-image: linear-gradient(180deg, #242B33 0%,
     rgba(36, 43, 51, 0) 0.01%,
      #242B33 100%);
}
.gallery-text {
    font-size: 24px;
    line-height: 1.17;
}



/* Recording for viewing */
.recording-overlay {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #242B33 10.42%,
     rgba(36, 43, 51, 0) 50.52%,
      #242B33 90.1%),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9),
     rgba(36, 43, 51, 0.9)),
    url(../images/town.jpg), #C4C4C4;
    background-size: contain;
    background-repeat: no-repeat;

}
.recording {
    padding-top: 180px;
    padding-bottom: 180px;
    /* background-image: url(../images/font-Rectangle.jpg); */
}

.recording-title {
    margin-bottom: 50px;
}
.recording-box {
    display: flex;
    align-items: flex-end;
}

.recording-box > div:not(:last-child) {
    margin-right: 35px;
}
.recording-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.recording-item {
margin-bottom: 30px;
}
.recording-item:nth-child(2n + 1) {
    margin-right: 20px;
}
.recording-item:nth-last-child(-n + 2) {
    margin-bottom: 0;

}
.recording-info {
    width: 535px;
} 
.recording-form {
    width: 540px;
}
/* .recording-list {
    padding-bottom: 180px;
} */
.recording-text{
    font-size: 16px;
    line-height: 1.5;
}
.recording-desc {
    display: inline-flex;
    width: 255px;
}
.recording-desc,
.question-desc {
    font-size: 13px;
    line-height: 1.23;
    text-align: center;
    color: var(--text-form-color);
}
.recording-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(0deg, rgba(36, 43, 51, 0.8),
     rgba(36, 43, 51, 0.8)),
    #626262;
}
/* map */

.map-title {
    margin-bottom: 100px;
}
/* question */
/* .question-section {
    background-image: url(../images/background-image2.jpg);
} */
.question {
    padding-top: 180px;
    padding-bottom: 180px;
}
.question-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.question-desc {
    display: inline-flex;
    width: 255px;
/* width: calc(100% / 4); */
}

 /* footer */
.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    /* justify-content: space-between; */
}
.footer-nav {
    display: flex;
}
.footer-nav > div {
    margin-right: 154px;
}
.footer-list:not(:last-child) {
    margin-bottom: 15px;
}
.footer-address {
    /* margin-bottom: 15px; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
}
.address-text {
    font-style: normal;
    margin-bottom: 15px;
}
.address-list {
    margin-bottom: 15px;
}
.footer-mail {
    font-weight: 700;
    color: var(--second-color);
}
.footer-social {
    display: flex;
}
.footer-item:not(:last-child) {
    margin-right: 21px;
}
.footer-icon {
    width: 30px;
    height: 25px;
    fill: var(--main-color);
}

.footer-icon:hover,
.footer-icon:focus,
.footer-icon:active {
    fill: var(--second-color);
}