.header {
    height: 840px;
    max-width: 1920px;
    background-image: linear-gradient(180deg, #242B33 11.98%,
            rgba(45, 52, 60, 0.38) 51.04%,
            #242B33 92.19%), url(../images/city.jpg);
    background-position: center;
}

.header__nav {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 44px;
}

  .header__item {
    @extend %list;
    display: flex;
}

  .header__list:not(:last-child) {
    margin-right: 38px;
}

  .header__link {
      @extend %link;
      padding-top: 20px;
      padding-bottom: 20px;
  }