/* footer */
.footer {
    @extend %container;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    /* justify-content: space-between; */
}

.footer__nav {
    display: flex;
}
.footer__logo,
.footer__box {
margin-right: 150px;
}

.footer__item {
    @extend %list;
}
.footer__list:not(:last-child) {
    margin-bottom: 15px;
}
.footer__link {
    @extend %link;
}
.footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
}
.address__item {
    @extend %list;
}
.address__text {
    font-style: normal;
    margin-bottom: 15px;
}

.address__list {
    margin-bottom: 15px;
}

.footer__mail {
    font-weight: 700;
    color: $second-color;
}