$main-color: #FFF;
$second-color: #D4C17F;
$background-color: #242B33;
$footer-background-color: #2D343C;
$text-form-color: #E7E7E7;
$text-form-input: #BEBEBE;
$main-font-family: 'Raleway', sans-serif;
$second-font-family: 'Playfair Display', sans-serif;